# Environment
NODE_ENV=development
PORT=3300
SERVICE_NAME="Auth Service"
CORS_ORIGIN="http://localhost:3000"

# AWS / LocalStack
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# DynamoDB (LocalStack)
DYNAMODB_ENDPOINT=http://localhost:4566
DYNAMODB_TABLE_NAME=users
