# Environment
NODE_ENV=development
PORT=3100
SERVICE_NAME="URL Service"
CORS_ORIGIN="http://localhost:3000"

# AWS / LocalStack
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# DynamoDB (LocalStack)
DYNAMODB_ENDPOINT=http://localstack:4566
DYNAMODB_TABLE_NAME=urls

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# SQS (LocalStack)
SQS_QUEUE_URL=http://localstack:4566/000000000000/analytics-click-events

# Auth Service
AUTH_JWKS_URI=http://localhost:3300/.well-known/jwks.json
